:root {
	font-size: 16px;
	line-height: 125%;
	--primary-color-100: #74C69DFF;
	--primary-color-75: #74C69DC0;
	--primary-color-50: #74C69D80;
	--primary-color-25: #74C69D40;
	--secondary-color-100: #FFFFFFFF;
	--secondary-color-75: #FFFFFFC0;
	--secondary-color-50: #FFFFFF80;
	--secondary-color-25: #FFFFFF40;
	--third-color-100: #212529FF;
	--third-color-75: #212529C0;
	--third-color-50: #21252980;
	--third-color-25: #21252940;
}
body {
	margin: 0;

}

.heading-1 {
	font-family: 'Crimson Text',Arial, Helvetica, sans-serif;
	font-size: 2.5rem;
	font-weight: 700;
}

.sub-heading {
	font-family: 'Work Sans', Arial, Helvetica, sans-serif;
	font-size: 1.25rem;
	font-weight: 400;
}

.label {
	font-family: 'Work Sans', Arial, Helvetica, sans-serif;
	font-size: 1rem;
	font-weight: 700;
	letter-spacing: 5px;
	text-transform: uppercase;
	color: var(--primary-color-100);
}

.site-header-section,
.footer-section {
	background-color: var(--primary-color-100);
	padding: 54px 0px;
	color: var(--secondary-color-100);
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
}
.footer-section {
	margin-bottom: 0px;

}
.header-footer {
	width: 1180px;
	display: flex;
	justify-content: space-between;
	margin: auto;
}
.logo-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 190px;
}
.logo {
	font-family: 'Work Sans', Arial, Helvetica, sans-serif;
	font-size: 2.5rem;
	font-weight: 400;

}

.nav-container {
	width: 391px;
}

.nav-container ul {
	display: flex;
	list-style: none;
	justify-content: space-between;
}

.nav-container a {
	text-decoration: none;
	color: inherit;
}
.content-header-section {
	display: flex;
	justify-content: center;

}

.content-header-container {
	text-align: center;
	width: 410px;
	margin-bottom: 82px;
}

.site-content {
	width: 1180px;
	margin: auto;
}

main {
	display: grid;
	justify-content: space-around;
}
.more-section {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 94px;
}

.more-section button {
	all: unset;
	width: 170px;
	height: 48px;
	background-color: var(--third-color-100);
	color: var(--secondary-color-100);
	border-radius: 5%;
	text-align: center;
}
.portfolio-section {
	display: grid;
	grid-template-columns: 570fr 555fr;
	justify-content: space-around;
	gap: 50px;
	margin: auto;
	margin-bottom: 60px;
}

.image-box {
	display: grid;
	justify-content: center;
	align-items: center;
	width: 570px;
	margin: 0;
}
.image-box img {
	width: 100%;
}
.social-media {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 246px;
}
/* TODO fix grid boxes and setup other screens */
@media (max-width: 1200px) {
	.site-content {
		width: 900px;
	}
	.header-footer {
		width: 900px;
	}
	.portfolio-section {
		grid-template-columns: 330px 330px;
	}
	.image-box {
		width: 330px;
	}
}
